{% extends '::base.html.twig' %}

{% block body %}
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"> page d'accueil</h4>
      <p> tech evenements</p>
    </div>
{% endblock %}