
    <h1>Reclamations creation</h1>
 <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
      <div class="signup-form" >
    {{ form(form) }}
      </div>
            </div>
 </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reclamationsadmin') }}">
            Retour à la liste
        </a>
    </li>
</ul>

