{% extends 'evenementsBundle::evenement.html.twig' %}

{% block evenement_body %}
<h5 class="custom-contact">Evenements à venir</h5>
<div >
    {{render(controller('evenementsBundle:Evenement:saved'))}}
</div>
{% endblock %}

{% block javascript %}
{{parent()}}
<script src="{{asset('js/evenements/evenements.js')}}">
</script>
{% endblock %}